.popup__error {
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    display: block;
    box-sizing: border-box;
    min-height: 12px;
    max-height: 12px;
    margin-top: 5px;
    margin-bottom: 13px;
    opacity: 0;
}