.popup__content {
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 36px;
}

@media screen and (max-width: 767px) {
    .popup__content {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }
}