.element__trash {
    margin: 0;
    border: none;
    background: url('../../../images/trash_image.svg');
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    z-index: 1;
}

.element__trash.hide {
    display: none;
}

.element__trash:hover {
    opacity: 0.6;
}